


html {
  font-size: 1rem;
  font-family: 'EB Garamond', serif;
}

body {
  color:#fefefe;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #000;
  font-size: 2rem;
  padding: 11.5%;
  text-align: left;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.triangle3 {
  animation-name: top;
  animation-duration: .6s;
  border-bottom: 50px solid #d1d1d1;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: fixed;
  left: 47.7%;
  top: 5%;
}

.triangle4 {
  animation-name: bottom;
  animation-duration: .6s;
  border-top: 50px solid #d1d1d1;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: fixed;
  left: 47.7%;
  bottom: 5%;
}

.horizontal {
  display: flex;
  justify-content: center;
}

.triangle1 {
  animation-name: left;
  animation-duration: .6s;
  border-top: 40px solid transparent;
  border-right: 50px solid #d1d1d1;
  border-bottom: 40px solid transparent;
  margin-left: 30px;
  position: fixed;
  left: 1%;
  top: 45%;
}

.triangle2 {
  animation-name: right;
  animation-duration: .6s;
  border-top: 40px solid transparent;
  border-left: 50px solid #d1d1d1;
  border-bottom: 40px solid transparent;
  margin-right: 30px;
  position: fixed;
  right: 1%;
  top: 45%;
}

.map {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  position: fixed;
  z-index: -1;
}

.square {
  background: #ecf4eb;
  width: 12vw;
  height: 15.6vh;
}

.homepage {
  background: #fff;
  width: 12vw;
  height: 15.6vh;
}

.youarehere {
  background: #CBDBC9;
  width: 12vw;
  height: 15.6vh;
}


/*keyframes animation*/

@keyframes left {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
  50% {
    transform: translate(-18px, 0px);
    animation-timing-function:ease-out;
   }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
}

@keyframes right {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
  50% {
    transform: translate(18px, 0px);
    animation-timing-function:ease-out;
   }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
}

@keyframes top {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
  50% {
    transform: translate(0px, -18px);
    animation-timing-function:ease-out;
   }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
}

@keyframes bottom {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
  50% {
    transform: translate(0px, 18px);
    animation-timing-function:ease-out;
   }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
}