


html {
  font-size: 1rem;
  font-family: 'EB Garamond', serif;
}

body {
  padding:5rem 0;
  color:#fefefe;
}

h1, h2, h3 {
  margin-bottom:1rem;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size:5rem;
  color: #8DA18A;
  line-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  font-size:2rem;
  color: #B8B8B8;
}


.horizontal {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  margin-top: -150px;
  margin-bottom: 20px;
}

.bottom {
  display: flex;
  justify-content: center;
  margin: 50px;
  margin-top: 160px;
  margin-bottom: -30px;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 50px solid #DDDDDD;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;

}

.triangle1 {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-right: 50px solid #DDDDDD;
  border-bottom: 40px solid transparent;

}

.triangle2 {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-left: 50px solid #DDDDDD;
  border-bottom: 40px solid transparent;

}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(150,176,146,0.5); /* Black background with opacity */
  z-index: 2;
  cursor: pointer; /* Add a pointer on hover */
}

#text{
  font-size: 1.75rem;
  color: #000;
  transform: translate(18%,140%);
  width: 75%;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  margin: 1rem;
  margin-top: 1.75rem;
}