
/*contents:
  navigation arrows: line 40
  keyframes animation: line 119
  @media only screen: line 182*/


html {
  font-size: 1rem;
  font-family: 'EB Garamond', serif;
}

body {
  padding: 5rem 0;
  background-color: #fff;
}

h1, h2, h3 {
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size: 6rem;
  color: #8DA18A;
  line-height: 10rem;
  display: flex;
  justify-content: center;
  text-align: center;
  animation: fadeIn;
  animation-duration: 1.25s;
}

h2 {
  font-size: 2rem;
  color: #B8B8B8;
}

/*__________________navigation arrows__________________*/

.horizontal {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: center;
}

.triangle {
  animation-name: bottom;
  animation-duration: .6s;
  border-top: 50px solid #CBDBC9;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: fixed;
  left: 47.7%;
  bottom: 5%;
}

.triangle1 {
  animation-name: left;
  animation-duration: .6s;
  border-top: 40px solid transparent;
  border-right: 50px solid #CBDBC9;
  border-bottom: 40px solid transparent;
  position: fixed;
  left: 3%;
  top: 45%;
}

.triangle2 {
  animation-name: right;
  animation-duration: .6s;
  border-top: 40px solid transparent;
  border-left: 50px solid #CBDBC9;
  border-bottom: 40px solid transparent;
  position: fixed;
  right: 3%;
  top: 45%;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(150,176,146,0.5); /* Black background with opacity */
  z-index: 2;
  cursor: pointer; /* Add a pointer on hover */
}

#text{
  font-size: 1.75rem;
  color: #000;
  transform: translate(18%,140%);
  width: 75%;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  margin: 1rem;
  margin-top: 1.75rem;
}


/*__________________keyframes animation__________________*/

@keyframes left {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
  50% {
    transform: translate(-18px, 0px);
    animation-timing-function:ease-out;
   }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
}

@keyframes right {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
  50% {
    transform: translate(18px, 0px);
    animation-timing-function:ease-out;
   }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
}

@keyframes top {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
  50% {
    transform: translate(0px, -18px);
    animation-timing-function:ease-out;
   }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
}

@keyframes bottom {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
  50% {
    transform: translate(0px, 18px);
    animation-timing-function:ease-out;
   }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-out;
   }
}


/*__________________@media only screen__________________*/

@media only screen and (max-width: 400px) {